.cache/
.java/
.Xilinx/
Xilinx/
logs/
installer/
*.log
*.jou
*.bin
.DS_Store
.sudo_as_admin_successful
secret.txt
vivado_pid*
installation_location.txt
Desktop
.local
.config
.*_history
proxy.txt
.Xil
